<%= form_tag "artists/:name" do %>

  <h1 class="header"><%= @artist_info.name %></h1>
  
  <div class="header_three">

    <% if @artist_info.website_url != nil %>
	    <a href="http://www.<%= @artist_info.website_url %>">
        Website
      </a><br>
	  <% end %>

    <% if @artist_info.facebook_url != nil %>
      <a href="http://www.<%= @artist_info.facebook_url %>">
        Facebook
      </a><br>
    <% end %>
  
    <% if @artist_info.twitter_url != nil %>
	    <a href="http://www.<%= @artist_info.twitter_url %>">
        Twitter
      </a><br>	
    <% end %>
  
    <% if @artist_info.instagram_url != nil %>
      <a href="http://www.<%= @artist_info.website_url %>">
        Instagram
      </a><br>
    <% end %>

    <% if @artist_info.tumblr_url != nil %>
      <a href="http://www.<%= @artist_info.website_url %>">
        Tumblr
      </a><br>
    <% end %>

  </div> 


  <% @work.each do |work| %>

    <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
      <em>"<%= work.title %>"</em> from <%= work.artist.name %>
    </p> 

    <p style="text-align:center">
      <img src="/assets/<%= work.work_filename %>" style="border:2px ridge black">
    </p>
  
  <% end %>

<% end %>

<div class="apple_pagination">
  <%= will_paginate @work %>
</div>