<h1 class="header">Drawings & Sketches</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <blockquote>

      <p class="index_text">
         <em>"Drawing is the honesty of the art. There is no possibility of cheating. It is either good or bad"</em>
      </p>
        <br>
      <p class="index_text2">
        <br><strong>-Salvador Dali</strong>
      </p>

    </blockquote>
  </div>

  <div class="col-md-4">
    <blockquote>

      <p class="index_text">
        <em>"I start drawing, and eventually the characters involve themselves in a situation. Then in the end, I go back and try to cut out most of the preachments."</em>
      </p>
        <br>
      <p class="index_text2">
        <strong>-Dr. Suess</strong>
      </p>

    </blockquote>
  </div>

  <div class="col-md-4">
    <blockquote>

      <p class="index_text">
        <em>"Photography is an immediate reaction, drawing is a meditation."</em>
      </p>
        <br>
      <p class="index_text2">
        <br><strong>-Henri Cartier-Bresson</strong>
      <p>

    </blockquote>
  </div>
</div>

<br>

<% @work.each do |work| %>

  <p class="work">
    "<%= work.title %>" from <%= link_to work.artist.name, artist_profile_path(work.artist.name) %>
  </p> 
  
  <p style="text-align:center">
    <a href="<%= work_showcase_path(@work) %>"><img src="/assets/<%= work.work_filename %>" style="border:2px ridge black"></a>
  </p>
  <p style="text-align:center">
    <% if work.availability == true %>
      <%= submit_tag "Add to your shopping cart" %>
    <% end %>
  </p>

<% end %>

<div class="apple_pagination">
  <%= will_paginate @work %>
</div>