<%= form_tag "/", method: :post do %>

  <% if session[:user_id] == nil %>

    <div class="login">
      <p>
        <%= text_field_tag :email, nil, placeholder: "E-Mail Address", size: 20 %>
        <%= password_field_tag :password, nil, placeholder: "Password", size: 20 %>
        <%= submit_tag "Sign in" %>
      </p>
    </div>

  <% elsif session[:user_id] != nil %>

    <div class="login">
      <p>
        <strong>Welcome back, <%= User.find(session[:user_id]).first_name %>!   </strong> <%= submit_tag "Sign out" %>
      </p>
    </div>

  <% end %>  

<% end %>

<div class="index_pics">
  <div class="row">

    <div class="col-md-4">
      <p>
        <img src="/assets/<%= Work.find(14).work_filename %>" style="border:2px ridge black" height="580" width="425">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(14).title %>"
          <br>
        from <%= link_to Work.find(14).artist.name, artist_profile_path(Work.find(14).artist.name) %>
      </p> 
    </div>

    <div class="col-md-4">
       <p>
        <img src="/assets/<%= Work.find(8).work_filename %>" style="border:2px ridge black" height="580" width="425">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(8).title %>"
          <br>
        from <%= link_to Work.find(8).artist.name, artist_profile_path(Work.find(8).artist.name) %>
      </p> 
    </div>

    <div class="col-md-4">
     <p>
        <img src="/assets/<%= Work.find(21).work_filename %>" style="border:2px ridge black" height="580" width="400">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(21).title %>"
          <br>
        from <%= link_to Work.find(21).artist.name, artist_profile_path(Work.find(21).artist.name) %>
      </p> 
    </div>

    <div class="col-md-4">
       <p>
        <img src="/assets/<%= Work.find(2).work_filename %>" style="border:2px ridge black" height="580" width="425">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(2).title %>"
          <br>
        from <%= link_to Work.find(2).artist.name, artist_profile_path(Work.find(2).artist.name) %></a>
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="/assets/<%= Work.find(30).work_filename %>" style="border:2px ridge black" height="580" width="425">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(30).title %>"
          <br>
        from <%= link_to Work.find(30).artist.name, artist_profile_path(Work.find(30).artist.name) %>
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="/assets/<%= Work.find(33).work_filename %>" style="border:2px ridge black" height="580" width="425">
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(33).title %>"
          <br>
        from <%= link_to Work.find(33).artist.name, artist_profile_path(Work.find(33).artist.name) %>
      </p> 
    </div>

  </div>
</div>