<%#= form_tag "/", method: :post do %>

  <%# if session[:user_id] == nil %>

    <!--div class="login">
      <p>
        <%#= text_field_tag :email, nil, placeholder: "E-Mail Address", size: 20 %>
        <%#= password_field_tag :password, nil, placeholder: "Password", size: 20 %>
        <%#= submit_tag "Sign in" %>
      </p>
    </div>

  <%# elsif session[:user_id] != nil %>

    <div class="login">
      <p>
        <strong>Greetings, <%#= User.find(session[:user_id]).first_name %>! <%#= submit_tag "Sign out" %></strong>
      </p>
    </div-->

  <%# end %> 

<%# end %> 

<div class="index_pics">
  <div class="row">
    <div class="col-md-3">
      <p>
        <a href="/artists/<%= Work.find(11).artist.name %>">
          <%= image_tag Work.find(11).work_filename, class:"showcase", height:"425", width:"320" %>
          <!-- img src="/assets/<%= Work.find(11).work_filename %>" style="border:2px ridge black" height="580" width="425" -->
        </a>
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(11).title %>"
          <br>
        from <%= link_to Work.find(11).artist.name, artist_profile_path(Work.find(11).artist.name) %>
      </p> 
    </div>

    <div class="col-md-3">
       <p>
        <a href="/artists/<%= Work.find(5).artist.name %>">
          <%= image_tag Work.find(5).work_filename, class:"showcase", height:"425", width:"320" %>
          <!-- img src="/assets/<%= Work.find(5).work_filename %>" style="border:2px ridge black" height="580" width="425" -->
        </a>
      </p>
      <p style="text-align:; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(5).title %>"
          <br>
        from <%= link_to Work.find(5).artist.name, artist_profile_path(Work.find(5).artist.name) %>
      </p> 
    </div>

    <div class="col-md-3">
     <p>
        <a href="/artists/<%= Work.find(18).artist.name %>">
          <%= image_tag Work.find(18).work_filename, class:"showcase", height:"425", width:"320" %>
          <!-- img src="/assets/<%= Work.find(18).work_filename %>" style="border:2px ridge black" height="580" width="400" -->
        </a>
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(18).title %>"
          <br>
        from <%= link_to Work.find(18).artist.name, artist_profile_path(Work.find(18).artist.name) %>
      </p> 
    </div>

    <div class="col-md-3">
       <p>
         <a href="/artists/<%= Work.find(1).artist.name %>">
          <%= image_tag Work.find(1).work_filename, class:"showcase", height:"425", width:"320" %>
           <!-- img src="/assets/<%= Work.find(1).work_filename %>" style="border:2px ridge black" height="580" width="425" -->
        </a>
      </p>
      <p style="text-align:center; color:#696969; font-family: Impact; font-size: 20px; margin: 10px 10px 10px 10px">
        "<%= Work.find(1).title %>"
          <br>
        from <%= link_to Work.find(1).artist.name, artist_profile_path(Work.find(1).artist.name) %></a>
      </p> 
    </div>
  </div>
</div>