<%= form_tag "/", method: :post do %>

  <% if session[:user_id] == nil %>

    <div class="login">
      <p>
        <%= text_field_tag :email, nil, placeholder: "E-Mail Address", size: 20 %>
        <%= password_field_tag :password, nil, placeholder: "Password", size: 20 %>
        <%= submit_tag "Sign in" %>
      </p>
    </div>

  <% elsif session[:user_id] != nil %>

    <div class="login">
      <p>
        <%= submit_tag "Sign out" %>
      </p>
    </div>
    
  <% end %>  

<% end %>

<div class="index_pics">
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="/assets/<%= Work.find(14).work_filename %>" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "<%= Work.find(14).title %>""
          <br>
        by <%= Work.find(14).artist.name %>
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
       <p>
        <img src="/assets/<%= Work.find(8).work_filename %>" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "<%= Work.find(8).title %>""
          <br>
        by <%= Work.find(8).artist.name %>
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
     <p>
        <img src="/assets/<%= Work.find(21).work_filename %>" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "<%= Work.find(21).title %>""
          <br>
        by <%= Work.find(21).artist.name %>
          <br>
        (c) 2014
      </p> 
    </div>
  </div>
</div>

