<%= form_tag "/", method: :post do %>

  <% if session[:user_id] == nil %>

    <div class="login">
      <p>
        <%= text_field_tag :email, nil, placeholder: "E-Mail Address", size: 20 %>
        <%= password_field_tag :password, nil, placeholder: "Password", size: 20 %>
        <%= submit_tag "Sign in" %>
      </p>
    </div>

  <% elsif session[:user_id] != nil %>

    <div class="login">
      <p>
        <%= submit_tag "Sign out" %>
      </p>
    </div>
    
  <% end %>  

<% end %>

<div class="index_pics">
  <div class="row">
    <div class="col-md-4">
      <p>
        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t1.0-9/382231_356863057760879_1838726242_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Home Maker"
          <br>
        by Elena's Weird
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
      <p>
        <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-frc1/t1.0-9/403374_4892050141745_2074479149_n.jpg" style="border:2px ridge black" height="600" width="400">
      </p>
      <p>
        "Feral" 
          <br>
        by Thomas Bloomberg
          <br>
        (c) 2014
      </p> 
    </div>

    <div class="col-md-4">
    <p>
      <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t1.0-9/230340_610689701503_5294148_n.jpg" style="border:2px ridge black" height="600" width="400">
    </p>
      <p>
        "Safe Inside"
          <br>
        by Joshua Guisinger
          <br>
        (c) 2014
      </p> 
    </div>
  </div>
</div>

