<%= error_messages_for @user %>

<h1 class="header">Sign up for the monthly mailing list!</h1><br>

<p class="index_text3">
  The Colorado Art Showcase is committed to promoting the beautiful, & sometimes strange, culture of Colorado. We'll send you the occasional update on art shows, new exhibits, and the cool things that we've discovered at First Fridays.
</p>

  <br>

<div>
  <%= form_tag "/registration", method: :post do %>
    <h3 class="header_two">Sign up here!</h3>
      <br>
    <p class="registration">
      <%= text_field_tag "first_name", nil, placeholder: "First name", size: 30 %>
    </p>
      <br>
    <p class="registration">
      <%= text_field_tag "last_name", nil, placeholder: "Last name", size: 30 %>
    </p>
      <br>
    <p class="registration">
      <%= text_field_tag "email", "", placeholder: "E-Mail", size: 30 %>
    </p>
      <br>
    <p class="registration">
      <%= password_field_tag :password, nil, placeholder: "Create a password", size: 30 %>
    </p>
      <br>
    <p class="registration">
      <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm your password", size: 30 %>
    </p>
      <br>
    <p class="registration">
      <%= submit_tag "Sign up" %><br>
    </p>
  <% end %> 
</div>

  <br>

  <br>

  <br>

  <br>

  <br>

  <br>