<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>Subcultures Showcase</title>
    
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">
              <strong font-size="15pt">Subcultures Showcase</strong>
            </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/drawings">
              	Drawings & Sketches
              </a>
            </li>
            <li>
              <a href="/paintings">
              	Canvas & Brush
              </a>
            </li>
            <li>
               <a href="/graphic_art">
                Graphic Art
               </a>
            </li>
            <li>
              <a href="/miscellaneous">
                Misc
              </a>
            </li>
            <li>
              <a href="/registration">
              	Sign up
              </a>
            </li>
            <li>
              <a href="/shopping_cart">
                <span class="glyphicon glyphicon-shopping-cart" %></span>
              </a>
            </li> 
          </ul>

            <% if session[:user_id] == nil %>
              
                  <p class="login">
                    <%= text_field_tag :email, nil, placeholder: "Email Address", size: 15 %>
                    <%= password_field_tag :password, nil, placeholder: "Password", size: 15 %>
                    <%= submit_tag "Sign in" %>
                  </p>

            <% elsif session[:user_id] != nil %>

                  <p class="login">
                    Greetings, <%= User.find(session[:user_id]).first_name %>! <%= submit_tag "Sign out" %>
                  </p>
                
            <% end %>              

        </div>
      </div>
    </div>

  </head>

  <body>

  <% if flash.now[:error] != nil %>

    <div class="alert alert-danger">
      <b><%= flash[:error] %></b>
    </div>

  <% end %>

  <% if flash[:success] != nil %>

    <div class="alert alert-success">
      <b><%= flash[:success] %></b>
    </div>

  <% end %>
  
    <%= yield %>

  <hr>
  <p class="footer">
    All work is copywritten and the rights to the works belong solely to the artist which created the respected piece. Please don't be a jerk and take advantage of good people that put in serious efforts to make the world a more beautiful place to live. George Clam coded this for your viewing pleasure. Contribute to culture, because we have enough Starbucks locations. 
  </body>
</html>
